<!-- Footer-->
<footer class="bg-light py-5">
  <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - Company Name</div></div>

  <div class="container px-4 px-lg-5 pt-2"><div class="small text-center text-muted">Distributed By <a href="https://themewagon.com/">Themewagon</a>
  </div></div>
</footer>
