<!-- About-->
<section class="page-section bg-primary" id="about">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 text-center">
              <h2 class="text-white mt-0">We've got what you need!</h2>
              <hr class="divider divider-light" />
              <p class="text-white-75 mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>
              <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
          </div>
      </div>
  </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
  <div class="container px-4 px-lg-5">
      <h2 class="text-center mt-0">At Your Service</h2>
      <hr class="divider" />
      <div class="row gx-4 gx-lg-5">
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                  <h3 class="h4 mb-2">Sturdy Themes</h3>
                  <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                  <h3 class="h4 mb-2">Up to Date</h3>
                  <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                  <h3 class="h4 mb-2">Ready to Publish</h3>
                  <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                  <h3 class="h4 mb-2">Made with Love</h3>
                  <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Portfolio-->
<div id="portfolio">
  <div class="container-fluid p-0">
      <div class="row g-0">
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg" title="Project Name">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.jpg" alt="..." />
                  <div class="portfolio-box-caption">
                      <div class="project-category text-white-50">Category</div>
                      <div class="project-name">Project Name</div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg" title="Project Name">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="..." />
                  <div class="portfolio-box-caption">
                      <div class="project-category text-white-50">Category</div>
                      <div class="project-name">Project Name</div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="..." />
                  <div class="portfolio-box-caption">
                      <div class="project-category text-white-50">Category</div>
                      <div class="project-name">Project Name</div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg" title="Project Name">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                  <div class="portfolio-box-caption">
                      <div class="project-category text-white-50">Category</div>
                      <div class="project-name">Project Name</div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg" title="Project Name">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.jpg" alt="..." />
                  <div class="portfolio-box-caption">
                      <div class="project-category text-white-50">Category</div>
                      <div class="project-name">Project Name</div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg" title="Project Name">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/6.jpg" alt="..." />
                  <div class="portfolio-box-caption p-3">
                      <div class="project-category text-white-50">Category</div>
                      <div class="project-name">Project Name</div>
                  </div>
              </a>
          </div>
      </div>
  </div>
</div>
<!-- Call to action-->
<section class="page-section bg-dark text-white">
  <div class="container px-4 px-lg-5 text-center">
      <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
      <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Download Now!</a>
  </div>
</section>
<!-- Contact-->
<section class="page-section" id="contact">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 col-xl-6 text-center">
              <h2 class="mt-0">Let's Get In Touch!</h2>
              <hr class="divider" />
              <p class="text-muted mb-5">Ready to start your next project with us? Send us a messages and we will get back to you as soon as possible!</p>
          </div>
      </div>
      <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
          <div class="col-lg-6">
              <!-- * * * * * * * * * * * * * * *-->
              <!-- * * SB Forms Contact Form * *-->
              <!-- * * * * * * * * * * * * * * *-->
              <!-- This form is pre-integrated with SB Forms.-->
              <!-- To make this form functional, sign up at-->
              <!-- https://startbootstrap.com/solution/contact-forms-->
              <!-- to get an API token!-->
              <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                  <!-- Name input-->
                  <div class="form-floating mb-3">
                      <input class="form-control" id="name" name="name" type="text" placeholder="Enter your name..." required [(ngModel)]="model.name" #name="ngModel">
                      <label for="name">Full name</label>
                      <div *ngIf="name.invalide && (name.dirty || name.touched)" class="error invalid-feedback">
                        <div *ngIf="name.error.required">A name is required.</div>
                      </div>
                  </div>
                  <!-- Email address input-->
                  <div class="form-floating mb-3">
                      <!-- <input class="form-control" id="email" type="email" name="email" placeholder="name@example.com" required [(ngModel)]="model.email" #email="ngModel"> -->
                      <input type="text" email ngModel name="useremail" class="form-control" placeholder="name@example.com"  required #email="ngModel">
                      <label for="email">Email address</label>
                      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error invalid-feedback">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">Please Enter Valid Email Address.</div>
                      </div>
                  </div>
                  <!-- Phone number input-->
                  <div class="form-floating mb-3">
                      <input class="form-control" id="phone" type="tel" name="phone" placeholder="(123) 456-7890" required [(ngModel)]="model.phone" #phone="ngModel">
                      <label for="phone">Phone number</label>
                      <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="error invalid-feedback">
                        <div *ngIf="phone.errors.required">Phone Number Required</div>
                      </div>
                  </div>
                  <!-- Message input-->
                  <div class="form-floating mb-3">
                      <textarea class="form-control" id="message" name="message" placeholder="Enter your message here..." style="height: 10rem" required [(ngModel)]="model.message" #message="ngModel"></textarea>
                      <label for="message">Message</label>
                      <div *ngIf="message.invalid && (message.dirty || message.touched)" class="error invalid-feedback">
                        <div *ngIf="message.errors.required">Message Required</div>
                      </div>
                  </div>
                  <!-- Submit success message-->
                  <!---->
                  <!-- This is what your users will see when the form-->
                  <!-- has successfully submitted-->
                  <!-- <div class="d-none" id="submitSuccessMessage">
                      <div class="text-center mb-3">
                          <div class="fw-bolder">Form submission successful!</div>
                          To activate this form, sign up at
                          <br />
                          <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                      </div>
                  </div> -->
                  <!-- Submit error message-->
                  <!---->
                  <!-- This is what your users will see when there is-->
                  <!-- an error submitting the form-->
                  <!-- <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div> -->
                  <!-- Submit Button-->
                  <div class="d-grid"><button [disabled]="!contactForm.form.valid" class="btn btn-primary btn-xl" >Submit</button></div>
              </form>
          </div>
      </div>
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-4 text-center mb-5 mb-lg-0">
              <i class="bi-phone fs-2 mb-3 text-muted"></i>
              <div>+1 (555) 123-4567</div>
          </div>
      </div>
  </div>
</section>
